/**
 * taken from https://github.com/frebro/sass-solarized
 *
 * Include this file early in your Sass project to
 * get access to Solarized colors and functions.
 *
 * Adapted from the outstanding work by Ethan Schoonover:
 * http://ethanschoonover.com/solarized
*/

$base03: rgb(0, 43, 54);
$base02: rgb(7, 54, 66);
$base01: rgb(88, 110, 117);
$base00: rgb(101, 123, 131);
$base0: rgb(131, 148, 150);
$base1: rgb(147, 161, 161);
$base2: rgb(238, 232, 213);
$base3: rgb(253, 246, 227);
$yellow: rgb(181, 137, 0);
$orange: rgb(203, 75, 22);
$red: rgb(220, 50, 47);
$magenta: rgb(211, 54, 130);
$violet: rgb(108, 113, 196);
$blue: rgb(38, 139, 210);
$cyan: rgb(42, 161, 152);
$green: rgb(133, 153, 0);

@mixin solarized-dark() {
  background-color: $base03;
  color: $base0;
}
@mixin solarized-light() {
  background-color: $base3;
  color: $base00;
}
