@charset "utf-8";
@import "solarized";

$article-content-max-width: 45rem;

* {
  padding: 0;
  margin: 0;
}

::selection {
  background: $base0;
  color: $base2;
}

html {
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  @include solarized-light();
}

body {
  font-family: Source Sans Pro, Segoe UI, Helvetica, Arial, sans-serif;
  line-height: 1.7;
  display: flex;
  flex-flow: row wrap;
  hyphens: auto;
  @include solarized-light();
}

table {
  padding: 5px;
  margin: 1rem;
  th {
    font-size: 1.2em;
    padding-left: 7px;
    text-align: left;
    border-bottom: solid 1.5px;
  }
  td {
    padding: 7px;
    text-align: left;
    border-bottom: solid 1px;
  }
}

a {
  &:link {
    text-decoration: none;
    color: $blue;
  }
  &:visited {
    color: $violet;
  }
}

h1,
h2,
h3,
h4,
h5 {
  .anchor {
    visibility: block;
    text-decoration: none;
    border-bottom-color: transparent;
    cursor: pointer;
    padding-left: 1rem;
  }

  &:hover {
    .anchor {
      visibility: visible;
    }
  }
}

h2,
h3 {
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2rem;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  margin: 1rem 0;
}

nav {
  width: 24vw;
  max-width: 40rem;
  padding: 3vw;
  display: flex;
  flex-flow: column nowrap;

  #breadcrumbs {
    display: flex;
    flex-flow: row wrap;
    font-style: italic;
  }

  ul {
    list-style-type: none;
    text-align: left;
  }

  em {
    font-size: 1.625rem;
    line-height: 1.2;
  }
}

main {
  width: 60vw;
  padding: 3vw;
  max-width: 55rem;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 2.375rem;

  article {
    margin: 1rem 0 0;

    p {
      margin: 0 0 1rem 0;
      max-width: $article-content-max-width;
    }

    blockquote {
      background-color: $base2;
      border: dotted 2px $base1;
      border-radius: 5px;
      padding-left: 1rem;
      padding-top: 1rem;
      margin-bottom: 1rem;
      margin-top: 1rem;
      max-width: $article-content-max-width;
    }

    pre {
      overflow: auto;
      font: 1rem Source Code Pro, Consolas, monospace;
      padding: 1rem;
      margin: 0 0 1rem 0;
      border-radius: 5px;
      border: dotted 2px $base1;
      code {
        border: none;
        background-color: transparent;
      }
    }

    code {
      background-color: $base2;
      border: dashed 1px $base1;
      border-radius: 1.5px;
      padding: 0 0.5%;
    }

    ul,
    ol {
      list-style-position: inside;
      margin: 0 0 1rem 1rem;
    }

    a:visited {
      color: $violet;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  img {
    max-width: 100%;
  }
}

#taxonomies {
  display: flex;
  flex-flow: row wrap;
  font-size: 1rem;

  ul {
    display: flex;
    flex-flow: column;
    list-style: none;
    margin: 0 1rem;
  }
}

#toc {
  list-style: none;
  margin-top: 1rem;

  ul {
    margin-left: 1rem;
    list-style: none;
  }
}

#mobile {
  display: none;
}

#tax_list {
  list-style: circle;
}

@media screen and (max-width: 1023px) {
  body {
    font-size: 1rem;
  }

  nav,
  main {
    width: 92vw;
  }

  #mobile {
    display: block;
    outline: none;
    color: $blue;
    font-size: 1.375rem;
  }

  select {
    font-size: 1.375rem;
  }

  #bger,
  #tax_list {
    display: none;
  }
}
